.icon-left {
	position: absolute;
	top: 10px;
	left: 10px;
}

.icon-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.summer i {
	color: red;
}

.winter i {
	color: blue;
}
.season-display {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.summer {
	background: orange;
	color: white;
}

.winter {
	background: aliceblue;
}
